body {
    text-align: center;
}

#map-container {
    display: flex;
    height: 75vh;
    font-size: 20px;
}

#map {
    display: inline-block;
    width: 70%;
    border: 5px blue solid;
    margin: 10px;
}

#barchart {
    display: inline-block;
    width: 30%;
    border: 5px red solid;
    margin: 10px;
}

.country {
    /* fill:#ccc; */
    stroke: #999;
}

#tooltip {
    visibility: hidden;
    display: block;
    position: absolute;
    text-align: left;
    /* border: 1px solid black; */
    background-color: white;
    opacity: 0;
    padding: 10px;
}

#slider-container {
    display: flex;
    /* border: 1px solid black; */
    align-items: center;
    flex-direction: column;
    margin: 0;
}

#slider {
    display: inline-block;
}

.axis text, .slider text {
    font-size: 18px;
  }

#slider-container p{
    padding: 0;
    margin: 10px 0 0 0;
}

#legend-container {
    fill: white;
    opacity: 0.9;
    stroke: gray;
    stroke-width: 2;
    position: absolute;
    left: 50%;
    top: 15vh;
}